html {
    scroll-behavior: smooth;
}

body {
    color: #242424;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    transition: background-color .3s;
    z-index: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

.body--active {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7);
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

/*---end default style---*/
/*---start header---*/
.header {
    overflow: hidden;
    padding: 40px 0;
    position: static;
    width: 100%;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.log {
    display: flex;

}

.logotip {
    font-size: 35px;
    color: white;
    margin-top: 55px;

    margin-left: 50px;
}

.menu {
    color: #242424;
    padding-right: 40px;
    line-height: 40px;
    font-size: 20px;
}

.menu li {
    display: inline-block;
}

.menu li+li {
    padding-left: 32px;
}

li a:hover {
    color: #5a5a5a;
}

a {
    color: #ffffff;
    position: relative;

    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}

li a:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #ffffff;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

li a:hover:after,
li a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.intro__wrapper {
    margin-top: 40px;
    text-align: center;


}

.intro__wrapper h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;

}

.intro__wrapper span {
    font-size: 20px;
    color: #ffffff;
}

/* end header */
/* start-screen */
.start-screen {
    margin-top: 63px;

}

.start-screen__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.start-screen__content img {
    margin-top: 56px;
    height: 155px;
}

.start-screen__content h1 {
    margin-top: 15px;
    font-size: 36px;
    max-width: 755px;
    width: 100%;
    line-height: 1.2;
}

.start-screen__content p {
    font-size: 20px;
}

.product {
    margin-top: 56px;
}

.start-screen__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.start-screen__towar {
    width: 325px;
}

.start-screen__towar:hover {
    transform: scale(0.9);
    transition: 1s;
}

/* карточки перехода к тарифам */
.advantages {
    margin-top: 100px;
}

.advantages__wrapper-content {

    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

.advantages__wrapper-content h2 {
    font-size: 40px;
    line-height: 130%;
    font-weight: 600;
    color: #ffffff;
}

.create-line {
    margin-top: 87px;
    border: solid 2px #dedede;
}

.advantages__wrapper-cards {
    margin-top: 108px;
    display: grid;
    z-index: 100;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.advantages__wrapper-card {
    padding: 50px 55px 0;
    min-height: 440px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;

    background: radial-gradient(circle, rgba(235 178 70 / 25%) 0%, rgb(235 178 70 / 25%) 46%, rgb(235 178 70 / 25%) 100%);
    background-size: 400% 400%;
    /* Увеличиваем размер градиента */
}

.advantages__wrapper-card img {
    object-fit: contain;

}

.advantages__wrapper-card h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin-top: 23px;
    margin-bottom: 53px;
    color: #d1d1d1;
}


/* оформление кнопки */
.button23 {
    display: inline-block;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 0.5em 1em;
    /* outline: none; */
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    /* background: linear-gradient(149deg, rgb(254, 160, 137) 0%, rgba(148, 187, 233, 0.46262254901960786) 100%); */
}

.button23:hover {
    transform: scale(0.9);
    transition: 1s;
    color: #000000;
}

.advantages__wrapper-card a {
    font-size: 25px;
    color: #ffffff;
}

/* тарифы */

#tarifs1 {
    color: #ffffff;
}

#tarifs2 {
    color: #ffffff;
}

#tarifs3 {
    color: #ffffff;
}



.Tarif h1 {
    font-size: 32px;
    color: #ffffff;
}

.Tarif {
    margin-top: 160px;
}

.tarif__wrapper-content h1 {
    font-size: 30px;
    line-height: 130%;
    font-weight: 600;
}

.Tarif {
    margin-top: 159px;
}

.tarif__wrapper-content {
    display: none;
}

.tarif__wrapper {
    font-size: 30px;
}


.tarif__wrapper-card {
    margin-top: 50px;
    max-width: 325px;
    background: #0e0e0e;

    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
}

/* заголовок */
.tarif__info-block p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    text-align: left;
    color: #d6d6d6;
}

/* цена */
.tarif__info-block h2 {
    margin-top: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
}

.tarif__price-block {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarif__price-block span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}

.btn:hover {
    border: 2px solid white;
    transform: scale(0.9);
    transition: 300ms;
}

.btn {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #ff613a;
    color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.tarif__wrapper-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 50px 20px;
}

/* 1c битрикс */

.tarif__wrapper-content1 {
    display: none;
}

#ids1 {
    font-size: 40px;
    line-height: 130%;
    font-weight: 600;
}

.tarif__wrapper-cards1 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 50px 20px;

}

.tarif__wrapper-card1 {
    margin-top: 50px;
    max-width: 325px;
    background: #0e0e0e;
    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
}

.tarif__info-block1 p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    text-align: left;
    color: #d6d6d6;
}

.tarif__info-block1 h2 {
    margin-top: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
}

.tarif__price-block1 {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tarif__price-block1 span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}

.tarif__price-block2 {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarif__info-block2 {
    margin-bottom: 72px;
}

.tarif__info-block2 span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}

.tarif__info-block2 h2 {
    margin-top: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
}

.tarif__info-block2 p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    text-align: left;
    color: #d6d6d6;
}

#ids2 {
    font-size: 40px;
    line-height: 130%;
    font-weight: 600;
}

.tarif__wrapper-cards2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tarif__wrapper-card2 {

    background: #0e0e0e;
    padding: 30px 20px;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tarif__price-block2 span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}

.tarif__wrapper-card {
    margin-top: 50px;
    max-width: 325px;
    background: #0e0e0e;
    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tarif__price-block span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}

.tarif__wrapper-card1 {
    margin-top: 50px;
    max-width: 325px;
    background: #0e0e0e;
    padding: 30px 20px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tarif__price-block1 span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ff613a;
    display: block;
    text-align: left;
    margin-right: 15px;
}


.footer {
    margin-top: 385px;
    background-color: #242424;
    width: 100%;
    padding-bottom: 50px;
}

.footer__wrapper-content {
    display: flex;
    justify-content: space-between;
}

.footer__wrapper-info1 img {
    padding: 50px;

    align-items: center;
    margin: auto;
}

.footer__wrapper-info1 span {
    font-size: 32px;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.footer__wrapper-info1 h1 {
    color: #f2f2f2;
    font-size: 32px;
    margin-bottom: 20px;
}


.footer__wrpapper-info2 {
    margin-right: 40px;
    margin-top: 70px;
    text-align: right;
}


.footer__wrapper-info2 img {
    margin-left: 20px;
    width: 20px;
}

.footer__wrapper-info2 span {
    font-size: 36px;
}

.footer__wrapper-info2 p {
    font-size: 24px;
}

.text h1 {
    margin-top: 20px;
    color: #f2f2f2;
    font-size: 40px;
    margin-bottom: 20px;
}

.text span {
    color: #f2f2f2;
    font-size: 36px;
}

.text p {
    margin-top: 20px;
    color: #6f6f6f;
    font-size: 24px;
}

.text a {
    color: #f2f2f2;
}


.logotips img {
    padding: 20px 20px;
    width: 80px;
    margin-left: 40px;

}

.info {
    color: aliceblue;
    font-size: 35px;
    display: flex;
    /* display: inline-flex; */
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
    justify-content: space-between;
}

.info h1 {
    margin-right: 20px;
}

.text {
    text-align: center;



}

.scroll-to-top-btn {
    position: fixed;
    align-items: center;
    bottom: 35px;
    right: 35px;
    background-color: #ff8932;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    z-index: 9999;
    width: 50px;
    height: 50px;
    display: none;
    font-size: 25px;
}

.scroll-to-top-btn:hover {
    background-color: #311400;
}

hr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #cccccc;
    padding: 10px;
    padding: 0;

    display: flex;
    margin: auto;
}

.nendoveb-kubscupon {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    z-index: 10;
}

.nendoveb-kubscupon h3 {
    color: rgb(243 243 243 / 90%);
}

.nendoveb-kubscupon .kacekagen-protsem {
    width: 0%;
    height: 5px;
    background: linear-gradient(to right, rgb(51, 253, 93), rgb(71, 185, 236), rgb(42, 147, 245), rgb(41, 168, 222), rgb(120, 56, 179), rgb(234, 34, 70));
    margin-top: 10px;
    background-size: 353px 5px;
    border-radius: 12px;
    animation: loading 2s ease-in-out forwards;
}

.nendoveb-kubscupon .akemobvous {
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom, rgba(185, 173, 173, 0.17), rgba(97, 91, 91, 0.1), rgba(53, 51, 51, 0));
    transform: skew(45deg) translate(15px, 5px);
}

@keyframes loading {
    to {
        width: 100%;
    }
}

html {
    height: 100%;
}

body {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}